.bg-main {
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/job-search.jpg) no-repeat center center fixed !important; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
}
.index-head {
	padding: 10%;
	color: #fff;
	line-height: 150%;
}

.index-head > h1 {
	font-size: 60px;
}
.logo-bg {
	background-color: #00A65A !important;
}

.index-head > p {
	font-size: 32px;
}

.index-head > p > a {
	margin-top: 20px;
}

.latest-job {
	line-height: 150%;
}

.latest-job > h1 {
	font-size: 60px;
}
.wrapper{
	width:100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	gap:1rem;
	overflow-y: auto;
}	
.card{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
	align-items: flex-start;
	padding: 0%;
	margin: 0 1%;
	background-color: #f4f7f8f8;
	line-height: 1.5;
	gap: 1.5rem;
	box-shadow: rgba(0,0,0,0.16)0px 1px 4px;
	border: 15px;
	cursor:pointer;
}
.card-left{
	width:10%;
	min-width:50px;
	display:flex;
	justify-content: center;
	border:20%;
}
.card-left img{
	width:100%;
	height:auto ;
	min-height: 60px;
	padding: 1rem;

}
.card-center{
	width:50%;
}
.candidate-img > img {
	width: 350px;
	height: 200px;
}

.company-img > img {
	width: 350px;
	height: 200px;
}

section.stat-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2rem 0;
}

.stat-item {
	background-color: #040d8a;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	border: 3px solid #55bff0;
	flex: 1;
	margin: 1rem;
	padding: 1rem;
	text-align: left;
	gap:1.5rem;
}


.about-text > p {
	font-size: 17px;
	line-height: 150%;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-20 {
	margin-top: 20px;
}

.padding-5 {
	padding: 5%;
}

.padding-2 {
	padding: 2%;
}
.bg-white {
	background-color: #fff;
}
.margin-right-10 {
	margin-right: 10px;
}

.bg-c-yellow {
	background-color: #FFC;
}

/*.color-red {
	color: red;
}*/

.hide-me {
	display: none;
}